@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

:root{
--cor-secundaria:#e6a6e8;
--cor-principal:#ecbcee;
--cor-texto:#fb8aff;
--cor-fundo:#f9e9f9;
--fonte:"Merienda", cursive;
}
body{
    background-color:var(--cor-principal) ;
    color: var(--cor-texto);
    font-family: var(--fonte);
    height: 100vh;
    margin: 0;
}
.cabeçalho{
    background-color: var(--cor-fundo);
    text-align: center;
}
.cabeçalho__titulo{
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 700;
}