@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

:root{
--cor-texto:#e6a6e8;
--cor-principal:#ecbcee;
--cor-secundaria:#fb8aff;
--cor-fundo:#f9e9f9;
--fonte:"Merienda", cursive;
}
body{
    background-color:var(--cor-principal) ;
    color: var(--cor-secundaria);
    font-family: var(--fonte);
    height: 100vh;
    margin: 0;
}
.cabeçalho{
    background-color: var(--cor-fundo);
    text-align: center;
}