@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

:root{
--cor-texto:#e6a6e8;
--cor-principal:#ecbcee;
--cor-secundaria:#f3d3f4;
--cor-fundo:#f9e9f9;
--fonte:"Merienda", cursive;
}
body{
    color: var(--cor-texto);
    font-family: var(--fonte);
    height: 100vh;
    font-size: 40px;
    margin: 0;
}
.cabeçalho{
    background-color: var(--cor-fundo);
    text-align: center;
}